@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    width: 85% !important;
  }

  .home-text {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .nav {
    padding: 14px 0;
  }

  .post-container {
    margin: 0 auto;
    width: 95% !important;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }

  section {
    padding: 2rem 0;
  }

  .header-content {
    margin-top: 3rem !important;
  }

  .home {
    min-height: 380px !important;

    .home-title {
      font-size: 3rem;
    }
  }

  .header-title {
    font-size: 2rem !important;
  }

  .header-img {
    height: 370px !important;
  }

  .post-header {
    height: 435px;
  }
}

@media (max-width: 570px) {
  .post-header {
    height: 390px;
  }

  .header-title {
    width: 100%;
  }

  .header-img {
    height: 340px !important;
  }

  .footer {
    row-gap: 1rem;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
  }
}

@media (max-width: 396px) {
  .home-title {
    font-size: 0.9rem;
  }

  .home-subtitle {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .home {
    min-height: 300px;
  }

  .post-box {
    padding: 10px;
  }

  .header-title {
    font-size: 1.4rem;
  }

  .header-img {
    height: 240px !important;
  }
}
